body {
   background-color:  rgb(134, 5, 5);
   color: rgb(134, 5, 5);
   font-family: 'Times New Roman', Times, serif;
}
.paragraf1, .paragraf3, .källa {
   text-align: left;
   border-radius: 20px;
   border-style: solid;
   margin-left: left;
   margin-right: auto;
   max-width: 40%;
   padding: 1px 1px 1px 8px;
   background-color: #ffe4c4 ;
   border-color: rgb(97, 95, 95);
   margin-top: 10px;
}
.paragraf2, .paragraf4 {
   text-align: left;
   border-radius: 20px;
   border-style: solid;
   margin-left: auto;
   margin-right: right;
   max-width: 40%;
   padding: 1px 1px 1px 8px;
   background-color:  #ffe4c4 ;
   border-color: rgb(97, 95, 95);
   margin-top: 10px;
}
.titel {
   text-align: center;
   border-radius: 20px;
   border-style: solid;
   margin-left: auto;
   margin-right: auto;
   max-width: 40%;
   background-color:#ffe4c4 ;
   border-color:rgb(97, 95, 95);
}

