body {
   background-color:  rgb(134, 5, 5);
   color: rgb(134, 5, 5);
   font-family: 'Times New Roman', Times, serif;
   transition: 0.3ms;
}

body.dark{
   background-color: rgb(67, 64, 64);
   color:  rgb(67, 64, 64);
}
 button {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin: 20px;
    background-color: #ffe4c4 ;
    color: rgb(134, 5, 5);
    
  }
  button:hover {
   background-color: #555;
   color: #f3ecec;
  }
button.dark  {
   background-color: darkblue; 
   color: white;             
   border-color: #555; 
  }

.paragraf1, .paragraf3, .källa {
   text-align: left;
   border-radius: 20px;
   border-style: solid;
   margin-left: left;
   margin-right: auto;
   max-width: 40%;
   padding: 1px 1px 1px 8px;
   background-color: #ffe4c4 ;
   border-color: rgb(97, 95, 95);
   margin-top: 10px;
}
.paragraf2, .paragraf4 {
   text-align: left;
   border-radius: 20px;
   border-style: solid;
   margin-left: auto;
   margin-right: right;
   max-width: 40%;
   padding: 1px 1px 1px 8px;
   background-color:  #ffe4c4 ;
   border-color: rgb(97, 95, 95);
   margin-top: 10px;
}
.titel {
   text-align: center;
   border-radius: 20px;
   border-style: solid;
   margin-left: auto;
   margin-right: auto;
   max-width: 40%;
   background-color:#ffe4c4 ;
   border-color:rgb(97, 95, 95);
}
body.dark .paragraf1,
body.dark .paragraf3,
body.dark .källa {
    background-color: darkblue; 
    color: white;              
    border-color: #555;        
}
body.dark .paragraf2,
body.dark .paragraf4
 {
    background-color: darkblue; 
    color: white;             
    border-color: #555;   
}    
body.dark .titel
 {
    background-color: darkblue; 
    color: white;              
    border-color: #555;       
}

a {
    color: blue; 
  }
  a:visited {
    color: purple; 
  }
  a:hover {
    color: green;
  }
  a:active {
    color: orange;
  }

  
  body.dark a {
    color: lightblue; 
  }
  body.dark a:visited {
    color: #dda0dd; 
  }
  body.dark a:hover {
    color: yellow;
  }
  body.dark a:active {
    color: orange;
  }
