body {
   background-color: #ffe4c4;
   color: azure;
   font-family: 'Times New Roman', Times, serif;
}
.paragraf1, .paragraf2 {
   text-align: left;
   border-radius: 20px;
   border-style: solid;
   margin-left: left;
   margin-right: auto;
   max-width: 40%;
   padding: 1px 1px 1px 8px;
   background-color: darkred;
   border-color: azure;
   margin-top: 10px;
}

.titel {
   text-align: center;
   border-radius: 20px;
   border-style: solid;
   margin-left: auto;
   margin-right: auto;
   max-width: 20%;
}